body {
    margin: 0;
}

.header {
    padding: 20px 0;
    margin-bottom: 100px;
    padding: 0 200px;
}

.section {
    margin-bottom: 150px;
    padding: 0 200px;
}

.full-img {
    max-width: 100%;
    height: auto;
}

.menu {
    list-style: none;
    padding: 0;
}

.button {
    border: 0px;
    font-size: 21px;
    font-family: 'Inter';
    cursor: pointer;
}

.text {
    font-family: 'Inter';
    color: #1F1F1F;
}

.title {
    font-family: 'Fraunces';
    color: #1F1F1F;
    font-weight: 400;
    margin: 0;
}


.header_logo {
    padding: 10px;
    margin-right: 10px;
}

.header__navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
}

.navigation__item__link {
    text-decoration: none;
    font-size: 21px;
    padding: 10px;
    color: #33383F;
    margin: 0 13px;
}

.header__buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.button-sign-in {
    color: #0070A0;
    background-color: white;
    padding: 5px;
    margin-right: 30px;
}

.button-demo {
    color: white;
    background-color: #0070A0;
    padding: 15px 25px;
    width: 210px;
    font-weight: 300;
}



.section-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    align-items: center;

}

.about__title {
    font-size: 75px;
    font-weight: 500;
    width: 90%;
}

.about__description {
    width: 70%;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5;
}

.button-learn-more {
    color: #0070A0;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px 15px;
}



.partners__paragraph {
    color: #1F1F1F;
    font-size: 32px;
    justify-self: center;
    margin-bottom: 50px;
}

.companies-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.companies-list__item__img {
    width: 120%
}




.slogans-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.slogans__item {
    padding: 40px;
}

.slogans__item-fast {
    background-color: #FAEA73;
}

.slogans__item-money {
    background-color: #CCEFF6;
}

.slogans__item-safe {
    background-color: #F7CEDC;
}

.slogans__title {
    font-size: 33px;
}

.slogans__description {
    font-size: 20px;
    line-height: 1.5;
}



.section-features {
    background-color: #f7f9fa;
    padding-top: 100px;
    padding-bottom: 100px;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.features__title {
    font-size: 49px;
    margin-bottom: 70px;
}

.features-list {
    width: 80%;
}

.features__item {
    border-bottom: 1px solid #C2CDD8;
    border-top: 1px solid #C2CDD8;
    display: grid;
    grid-template-columns: 15% 75% 10%;
    align-items: start;
    margin-bottom: 5px;
    padding: 20px 0;
}

.button-expand {
    background-color: #f7f9fa;
    padding: 10px;
    background: url(images/arrow_expand.svg) no-repeat 50% 50%;
    width: 30px;
    height: 30px;
    order: 3;
}

.features__img {
    justify-self: center;
    align-self: end;
    min-width: 80%;
}

.features__item__title {
    font-size: 25px;
}

.features__item__img {
    justify-self: center;
    padding-top: 10%;
    align-self: start;
}

.expand-text {
    font-size: 20px;
    color: #1F1F1F;
    line-height: 0;
    color: transparent;
    transition: line-height 0.5s, color 0.5s;
    overflow: hidden;
    margin: 0;
}

.button-expand.active~.features__text .expand-text {
    line-height: 1.5;
    color: currentColor;
}



.section-total {
    display: grid;
    grid-template-columns: 25% 60%;
    gap: 5%
}

.total-list {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    padding-top: 10%;
}

.total__title {
    font-size: 52px;
}

.total-list__item__title {
    font-size: 30px;
}

.total-list__item__description {
    line-height: 1.5;
    font-size: 18px;
}

.total-list__item:first-child {
    padding-top: 8%;
}


.section-demo-offer{
    background-color: #0070A0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 10%;
    align-items: center;
}

.demo-offer__img {
    justify-self: center;
    min-width: 80%;
    
}

.demo-offer__title {
    font-size: 50px;
    color: white;
}

.demo-offer__list__item {
    display: flex;
    align-items: center;
    gap: 10px; 
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0;
}

.demo-offer__paragraph {
    font-size: 23px;
    color: white;
    font-weight: 300;
    line-height: 1.5;
    width: 90%;
}

.demo-offer__list__item__text {
    margin: 0;
    color: white;
}

.demo-offer__list {
    margin-bottom: 50px;
}



.automation__title{
    font-size: 50px;
}

.automation__paragraph {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 80px;
    width: 50%;
    font-weight: 400;
}

.automation__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5%;
}

.automation__list__item__title {
    font-size: 30px;
}

.automation__list__item__description {
    font-size: 20px;
    line-height: 1.5;
    width: 80%;
    font-weight: 400;
}








.section-news {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F7F9FA;
}

.news-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
}

.news-title {
    font-size: 50px;
}

.button-all-post {
    color:#0070A0;
    font-size: 20px;
    padding: 5px 15px;
    text-decoration: none;
}

.news__card-list {
    display: flex;
    justify-content: space-between;
}

.news__card {
    background-color: white;
    width: 30%;
}

.card__text {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tag {
    color: #2C90C9;
    padding: 5px 10px;
    background-color: #E6F7FF;
    display: inline;
    margin: 0;
    margin-right: auto;
    font-size: 14px;
}

.card__title {
    font-size: 30px;
    margin-top: 10px;
}

.card__description {
    font-size: 17px;
}

.card__data {
    font-size: 15px;
}

.card__img {
    width: 100%;
}






.hidden {
    display: none;
}

@font-face {
    font-family: 'Fraunces';
    src: url('fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}