.page {
    margin: 0;
}

.header {
    padding: 20px 200px;
    margin-bottom: 100px;
}

.section {
    margin-bottom: 150px;
    padding: 0 200px;
}

.footer {
    padding: 0 200px;
}

.full-img {
    max-width: 100%;
    height: auto;
}

.menu {
    list-style: none;
    padding: 0;
}

.button {
    border: 0px;
    font-size: 21px;
    font-family: 'Inter';
    cursor: pointer;
}

.text {
    font-family: 'Inter';
    color: #1F1F1F;
    font-weight: 400;
}

.title {
    font-family: 'Fraunces';
    color: #1F1F1F;
    font-weight: 400;
    margin: 0;
}


.header_logo {
    padding: 10px;
    margin-right: 10px;
}

.header__navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
}

.navigation__link {
    text-decoration: none;
    font-size: 21px;
    padding: 10px;
    color: #33383F;
    margin: 0 13px;
}

.header__buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.button-sign-in {
    color: #0070A0;
    background-color: white;
    padding: 5px;
    margin-right: 30px;
    font-size: 21px;
}

.button-demo {
    color: white;
    background-color: #0070A0;
    padding: 15px 25px;
    width: 210px;
    font-weight: 300;
    font-size: 21px;
}



.section-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    align-items: center;
}

.about__title {
    font-size: 75px;
    font-weight: 500;
    width: 90%;
}

.about__description {
    width: 70%;
    font-size: 28px;
    line-height: 1.5;
}

.button-learn-more {
    color: #0070A0;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px 15px;
}



.partners__description {
    font-size: 32px;
    justify-self: center;
    margin-bottom: 50px;
}

.companies-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.company__img {
    width: 120%
}




.slogans-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.slogans-list__item {
    padding: 40px;
}

.slogan-fast {
    background-color: #FAEA73;
}

.slogan-money {
    background-color: #CCEFF6;
}

.slogan-safe {
    background-color: #F7CEDC;
}

.slogans__title {
    font-size: 33px;
}

.slogans__description {
    font-size: 20px;
    line-height: 1.5;
}



.section-take-care {
    background-color: #f7f9fa;
    padding-top: 100px;
    padding-bottom: 100px;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.take-care__title {
    font-size: 49px;
    margin-bottom: 70px;
}

.take-care-list {
    width: 80%;
}

.take-care-list__item {
    border-bottom: 1px solid #C2CDD8;
    border-top: 1px solid #C2CDD8;
    display: grid;
    grid-template-columns: 15% 75% 10%;
    align-items: start;
    margin-bottom: 5px;
    padding: 20px 0;
}

.button-expand {
    background-color: #f7f9fa;
    padding: 10px;
    background: url(images/arrow_expand.svg) no-repeat 50% 50%;
    width: 30px;
    height: 30px;
    order: 3;
}

.take-care__img {
    justify-self: center;
    align-self: end;
    min-width: 80%;
}

.features__title {
    font-size: 25px;
}

.features__icon {
    justify-self: center;
    padding-top: 10%;
    align-self: start;
}

.expand-text {
    font-size: 20px;
    color: #1F1F1F;
    line-height: 0;
    color: transparent;
    transition: line-height 0.5s, color 0.5s;
    overflow: hidden;
    margin: 0;
}

.button-expand.active~.features__text .expand-text {
    line-height: 1.5;
    color: currentColor;
    margin: 10px 0;
}



.section-total {
    display: grid;
    grid-template-columns: 25% 60%;
    gap: 5%
}

.total-list {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    padding-top: 10%;
}

.total__title {
    font-size: 52px;
}

.specification__title {
    font-size: 30px;
}

.specification__description {
    line-height: 1.5;
    font-size: 18px;
}

.total-list__item:first-child {
    padding-top: 8%;
}



.section-demo-offer{
    background-color: #0070A0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 10%;
    align-items: center;
}

.demo-offer__img {
    justify-self: center;
    min-width: 80%;
    
}

.demo-offer__title {
    font-size: 50px;
    color: white;
}

.demo-offer__description {
    font-size: 23px;
    color: white;
    font-weight: 300;
    line-height: 1.5;
    width: 90%;
}

.demo-offer-list {
    margin-bottom: 50px;
}

.demo-offer-list__item {
    display: flex;
    align-items: center;
    gap: 10px; 
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0;
}

.demo-offer__text {
    margin: 0;
    color: white;
}



.automation__title{
    font-size: 50px;
}

.automation__description {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 80px;
    width: 50%;
    font-weight: 400;
}

.automation-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5%;
}

.task__title {
    font-size: 30px;
}

.task__description {
    font-size: 20px;
    line-height: 1.5;
    width: 80%;
    font-weight: 400;
}



.section-news {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F7F9FA;
}

.news-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
}

.news__title {
    font-size: 50px;
}

.button-all-post {
    color:#0070A0;
    font-size: 20px;
    padding: 5px 15px;
    text-decoration: none;
}

.news-list {
    display: flex;
    justify-content: space-between;
}

.news-list__item {
    background-color: white;
    width: 30%;
}

.card__text {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__tag {
    color: #2C90C9;
    padding: 5px 10px;
    background-color: #E6F7FF;
    display: inline;
    margin: 0;
    margin-right: auto;
    font-size: 14px;
}

.card__title {
    font-size: 30px;
    margin-top: 10px;
}

.card__description {
    font-size: 17px;
}

.card__data {
    font-size: 15px;
}

.card__img {
    width: 100%;
}



.get-started__content {
    background-color: #E6F7FF;
    padding: 70px;
}

.get-started__title {
    font-size: 50px;
}

.get-started__description {
    width: 40%;
    font-size: 23px;
    padding: 20px 0;
}

.get-started-list{
    display: flex;
    gap: 15px;
    align-items: center;
}

.get-started-list__item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.condition{
    color: #626A72;
    font-size: 17px;
}



.footer-top {
    border-bottom: 1px solid #DEE5EB;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.footer__logo__img {
    margin-bottom: 30px;
}

.info__text {
    font-size: 16px;
    margin: 0;
    
}

.footer__links {
    display: flex;
    justify-content: end;
    gap: 10%;
    
}

.links {
    width: 33%;
}

.footer__title {
    font-size: 17px;
}

.link-text {
    font-size: 16px;
    color: #626A72;
}

.subscribe__descriptions {
    font-size: 18px;
    line-height: 1.5;
}

.text-field__input {
    border: 0;
    border-bottom: 1px solid #C2CDD8;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 17px;

}

.text-field__input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #C2CDD8;
}

.text-field {
    display: flex;
}


.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.copyright {
    font-size: 17px;
}

.text-strong {
    color: #0070A0;
}

.footer__diffrent-links {
    display: flex;
    align-items: center;
    gap: 20px;
}





.hidden {
    display: none;
}

@font-face {
    font-family: 'Fraunces';
    src: url('fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}